.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  @media all and (max-width: 1360px) {
    align-items: flex-start;
    padding-top: 20px;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @media all and (max-width: 1360px) {
      flex-direction: column;
    }

    .home__me {
      display: flex;
      flex-direction: column;

      @media all and (max-width: 1360px) {
        width: 100%;
        align-items: center;
      }
    }

    .home__photo {
      border: 0;
      box-shadow: 0 0 5px #707880;
      border-radius: 100%;
      width: 300px;

      @media all and (max-width: 1360px) {
        width: 50%;
        align-items: center;
      }
    }

    .home__intro {
      padding-bottom: 2em;
      text-align: center;

      span {
        font-size: 18px;
      }
    }

    .home__options {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;

      @media all and (min-width: 1360px) {
        height: 300px;
      }
    }

    .option {
      width: 100%;
    }
  }

  h1 {
    font-size: 45px;
  }
}
