.home {
  padding-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .home__photo {
      border: 0;
      box-shadow: 0 0 5px #707880;
      border-radius: 100%;
      width: 300px;
    }
    
    .home__intro {
      padding-bottom: 2em;
    
      span {
        font-size: 18px;
      }
    }

    .option {
      width: 100%;
    }
  }

  h1 {
    font-size: 45px;
  }
}
