.footer {
  display: flex;
  align-items: center;
  padding: 2em 0;
  flex-direction: column;
}

.footer__list {
  list-style: none;
  display: flex;
  padding-inline-start: 0;

  .footer__list-item {
    margin-right: 20px;

    svg {
      font-size: 20px;
      color: black;
    }
  }
}