@import '../../../App.scss';

$mainColor: #1c1c1c;

.option {
  display: block;
  color: white;
  background-color: $mainColor;
  text-align: center;
  margin-bottom: 20px;
  padding: 17px;
  text-decoration: none;
  font-size: 18px;
  transition: all .25s cubic-bezier(.08, .59, .29, .99);
  border: solid $mainColor 2px;
  border-radius: 50rem;

  &:hover {
    color: white;
    background-color: $appColor1;
  }
}